<!-- Loop over each object in the projects array -->
{{#each Blogposts as |Blogpost| }}
  <div class = "post expandable" id = "{{id}}"> <!-- expandable so that you can click it and view comments on post -->
    <div class = "postHeader">
      <h2>{{Blogpost.title}}</h2>
      <p>Created by {{Blogpost.user.name}} on {{Blogpost.date_created}}</p>
    </div>
    <div class = "postBody">
      <p>{{Blogpost.content}}</p>
      <form class = "new-comment-form">
        <h2>new post</h2>
        <label for = "commentContent">comment content: </label>
        <textarea name = "commentContent" class = "comment-content" id = "commentContent" cols = "30" rows = "10"></textarea>
        <button class = "submit-comment-button">Submit Comment</button>
        <button class = "cancel-comment-button">Cancel</button>
      </form>
      <button class = "new-comment-button">Add Comment</button>
      <div class = "commentsContainer">
        <!-- <p>{{comment}}</p>           TODO: add comment model and templating here      -->
        {{#each Blogpost.comments as |Comment| }}
          <div class = "comment">
            <p>Created by {{Comment.user.name}} on {{Comment.date_created}}</p>
            <p>{{Comment.content}}</p>
          </div>
        {{/each}}
        <h2>Comments go here</h2>
      </div>
    </div>
  </div>
{{/each}}
<script src="./js/homepage.js"></script>